<div style=" size: 10cm;margin-left: 70%;"   class="card">
    <p-messages style="position: fixed;" [(value)]="messages" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [enableService]="false"></p-messages>
</div>
<div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form style="margin: 5%;" class="login100-form validate-form" [formGroup]="formGroup" (ngSubmit)="resetPassword()">
          <span class="login100-form-title">
            Forgot your password ! 
          </span>
  
     <!--     <div style=" width: 80%; margin-left: 8%;" class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
            <input class="input100" type="text" name="email" placeholder="Email" formControlName="email" >
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
          </div>-->
          <div style=" width: 80%; margin-left: 8%;" class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
            <input class="input100" type="text" name="email" placeholder="Email" formControlName="email">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
            <!-- Affichage des messages d'erreur pour le champ Email -->
            <div *ngIf="formGroup.get('email')?.hasError('required') && formGroup.get('email')?.touched">
              Email is required
            </div>
            <div *ngIf="formGroup.get('email')?.hasError('email') && formGroup.get('email')?.touched">
              Invalid email format
            </div>
          </div>

          <!--<div  style=" width: 80%;margin-left: 8%;" class="wrap-input100 validate-input" data-validate="Password is required">
            <input class="input100" type="password" name="pass" placeholder="Password" formControlName="password"  >
           <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-lock input-icon" aria-hidden="true"></i>
            </span>
          </div>-->
           <!-- Champ Mot de passe -->
  <div  style=" width: 80%;margin-left: 8%;" class="wrap-input100 validate-input" data-validate="Password is required">
    <input class="input100" type="password" name="pass" placeholder="Password" formControlName="password">
    <span class="focus-input100"></span>
    <span class="symbol-input100">
      <i class="fa fa-lock input-icon" aria-hidden="true"></i>
    </span>
    <!-- Affichage des messages d'erreur pour le champ Mot de passe -->
    <div *ngIf="formGroup.get('password')?.hasError('required') && formGroup.get('password')?.touched">
      Password is required
    </div>
    <div *ngIf="formGroup.get('password')?.hasError('minlength') && formGroup.get('password')?.touched">
      Password must be at least 8 characters long
    </div>
  </div>

  
          <div   style=" width: 80%; margin-left: 8%;" class="container-login100-form-btn">
        
          
            <button type="submit" class="login100-form-btn" (click)="resetPassword()">Confirmer</button>
          </div>
          
  
          <div style="text-align: right;" class="text-center p-t-12">
            <a style="margin-right: 75%; font-size: medium; margin-top: 3%; display: inline-block; cursor: pointer;" class="txt1" (click)="Gotologin()">
                Login Now
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
            </a>
          </div>
        
        
        </form>
       
      </div>
    </div>
  </div>
