
<app-sidebar></app-sidebar>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">  

      <form #addForm="ngForm" (ngSubmit)="addTrajet(addForm)">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter Trajet</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      
        <div class="modal-body">
          <!-- Lieu De Depart -->
        <p>Lieu De Depart:</p>


        <p-dropdown [options]="wilayas"  name="wilaya" [(ngModel)]="selectedwilaya2" id="drop" [filter]="true" placeholder=" Wilaya...">
            <ng-template  let-wilaya pTemplate="selectedItem">
              <div  >{{selectedwilaya2.Nom_wilaya}} </div>
            </ng-template>
            <ng-template  let-wilaya pTemplate="item">
              <div  >{{wilaya.Nom_wilaya}}</div>
            </ng-template>
          </p-dropdown>
        
        <br>

        <p-dropdown [options]="filterWilayas2()"  name="commune"  [(ngModel)]="selectedcommune2" id="drop" [filter]="true" placeholder="Commune...">
            <ng-template let-commune pTemplate="selectedItem">
              <div>{{selectedcommune2.Nom_Commune}}</div>
            </ng-template>
            <ng-template let-commune pTemplate="item">
              <div>{{commune?.Nom_Commune}} </div>
            </ng-template>
          </p-dropdown>

          <p>Lieu D'arrivé:</p>
          <p-dropdown [options]="wilayas"  name="wilayaArr"  [(ngModel)]="selectedwilaya3" id="drop" [filter]="true" placeholder="Wilaya...">
              <ng-template  let-wilaya pTemplate="selectedItem">
                <div  >{{selectedwilaya3.Nom_wilaya}} </div>
              </ng-template>
              <ng-template  let-wilaya pTemplate="item">
                <div  >{{wilaya.Nom_wilaya}}</div>
              </ng-template>
            </p-dropdown>       
             <br>
  
     <p-dropdown [options]="filterWilayas3()"   name="communeArr"[(ngModel)]="selectedcommune3" id="drop" [filter]="true" placeholder="Commune...">
              <ng-template let-commune pTemplate="selectedItem">
                <div>{{selectedcommune3.Nom_Commune}}</div>
              </ng-template>
              <ng-template let-commune pTemplate="item">
                <div>{{commune?.Nom_Commune}} </div>
              </ng-template>
            </p-dropdown> 
      
          <!-- Nombre de places -->
          <input type="number" style="margin-bottom: 5%; margin-right: 1%; flex-shrink: 0; border-radius: 9px; border: 0.5px solid #8A8A8A; background: var(--WHITE, #FFF); box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); height: 25%; width: 80%;" ngModel="" name="nbr_place" class="form-control" placeholder="nombre de places max">
      
          <div style="flex: 1;">
            <!-- Date De Depart -->
            <p>Date De Depart</p>
            <p-calendar [(ngModel)]="addForm.value.date" name="date"></p-calendar>
      
            <!-- Heure De Depart -->
            <p>Heure De Depart</p>
            <p-calendar [(ngModel)]="addForm.value.heure" name="heure" [showTime]="true" [timeOnly]="true" hourFormat="24"></p-calendar>
          </div>
      
          <p>Hebdomadaire</p>
          <input type="checkbox" id="myCheckbox2" [(ngModel)]="isChecked" name="myCheckbox">
        </div>
      
        <div class="modal-footer">
          <button type="button" id="annuler" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
      </form>
      


    <!--  <form #addForm="ngForm" (ngSubmit)="addTrajet(addForm)">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter Trajet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
  
      <div class="modal-body">
        <p>Lieu De Depart:</p>


        <p-dropdown [options]="wilayas"  name="wilaya" [(ngModel)]="selectedwilaya2" id="drop" [filter]="true" placeholder=" Wilaya...">
            <ng-template  let-wilaya pTemplate="selectedItem">
              <div  >{{selectedwilaya2?.Nom_wilaya}} </div>
            </ng-template>
            <ng-template  let-wilaya pTemplate="item">
              <div  >{{wilaya.Nom_wilaya}}</div>
            </ng-template>
          </p-dropdown>
        
        <br>

        <p-dropdown [options]="filterWilayas2()"  name="commune"  [(ngModel)]="selectedcommune2" id="drop" [filter]="true" placeholder="Commune...">
            <ng-template let-commune pTemplate="selectedItem">
              <div>{{selectedcommune2?.Nom_Commune}}</div>
            </ng-template>
            <ng-template let-commune pTemplate="item">
              <div>{{commune?.Nom_Commune}} </div>
            </ng-template>
          </p-dropdown>

          <p>Lieu D'arrivé:</p>
          <p-dropdown [options]="wilayas"  name="wilayaArr"  [(ngModel)]="selectedwilaya3" id="drop" [filter]="true" placeholder="Wilaya...">
              <ng-template  let-wilaya pTemplate="selectedItem">
                <div  >{{selectedwilaya3?.Nom_wilaya}} </div>
              </ng-template>
              <ng-template  let-wilaya pTemplate="item">
                <div  >{{wilaya.Nom_wilaya}}</div>
              </ng-template>
            </p-dropdown>       
             <br>
  
     <p-dropdown [options]="filterWilayas3()"   name="communeArr"[(ngModel)]="selectedcommune3" id="drop" [filter]="true" placeholder="Commune...">
              <ng-template let-commune pTemplate="selectedItem">
                <div>{{selectedcommune3?.Nom_Commune}}</div>
              </ng-template>
              <ng-template let-commune pTemplate="item">
                <div>{{commune?.Nom_Commune}} </div>
              </ng-template>
            </p-dropdown> 

            <input type="number" style=" margin-bottom: 5%;margin-right: 1%; flex-shrink: 0;border-radius: 9px;border: 0.5px solid #8A8A8A;background: var(--WHITE, #FFF);box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);height: 25%;
            width: 80%;" ngModel=""  name="nbr_place" class="form-control"  placeholder="nombre de places max">

<div style="flex: 1;">
  <p>Date De Depart</p>
  <form [formGroup]="addForm">
    <p-calendar name="date" formControlName="date"></p-calendar>
  </form>

  <p>Heure De Depart</p>
  <form [formGroup]="addForm">
    <p-calendar formControlName="heure" name="heure" [showTime]="true" [timeOnly]="true" hourFormat="24"></p-calendar>
  </form>
</div>

            <p > Hebdomadaire</p>
             
              <input  type="checkbox" id="myCheckbox2" [(ngModel)]="isChecked" name="myCheckbox">

      </div>
     
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </div>
    </form>-->  
    </div> 
  </div>
</div>
<div class="search-bar">
     <input class="classInput"(click)="searchTrajets(key.value)"#key="ngModel"  style="   height: 25% ;width: 30%;" type="text" placeholder="Rechercher ..." pInputText [(ngModel)]="value" />
<div class="profile-buttons">
      <div class="profile-button" (click)="goToProfile()">
          <button class="round-button">
              <i class="pi pi-user cursor-pointer"></i>
          </button>
      </div>

      <div class="logout-button" (click)="logout()">
          <button class="round-button">
              <i class="pi pi-sign-out cursor-pointer"></i>
          </button>
      </div>
  </div>
</div>
<div   style=" margin-left: -18%; margin-bottom: 2%; margin-top: 2%;   height: 25% ;
width: 80%;margin-right : 65%;">
    <input class="classInput" style="   height: 25% ;width: 30%;" type="text" placeholder="Rechercher..." pInputText [(ngModel)]="value" />
 </div>
<div style="display: flex; justify-content: space-between;">

    <div style="flex: 1; margin-left: 22%;">
        <p>Depart:</p>


        <p-dropdown [options]="wilayas"  [(ngModel)]="selectedwilaya" id="drop" [filter]="true" placeholder=" Wilaya...">
     <!--   <p-dropdown [options]="wilayas" [(ngModel)]="selectedwilaya" id="drop" [filter]="true" placeholder=" Wilaya..." (onChange)="filterTrajetsByDepart( wilayaDepart,communeDepart, wilayaArrivee, communeArrivee)">
-->
            <ng-template  let-wilaya pTemplate="selectedItem">
              <div>{{selectedwilaya.Nom_wilaya}}</div>
            </ng-template>
            <ng-template  let-wilaya pTemplate="item">
              <div  >{{wilaya.Nom_wilaya}}</div>
            </ng-template>
          </p-dropdown>
        
        <br>

        <p-dropdown [options]="filterWilayas()"  [(ngModel)]="selectedcommune" id="drop" [filter]="true" placeholder="Commune...">
            <ng-template let-commune pTemplate="selectedItem">
              <div>{{selectedcommune.Nom_Commune}}</div>
            </ng-template>
            <ng-template let-commune pTemplate="item">
              <div>{{commune?.Nom_Commune}} </div>
            </ng-template>
          </p-dropdown>

  

    <div style="flex: 1; margin-left: -30px; ">
        <p>Arrivé:</p>
        <p-dropdown [options]="wilayas"  [(ngModel)]="selectedwilaya1" id="drop" [filter]="true" placeholder="Wilaya...">
            <ng-template  let-wilaya pTemplate="selectedItem">
              <div  >{{selectedwilaya1.Nom_wilaya}} </div>
            </ng-template>
            <ng-template  let-wilaya pTemplate="item">
              <div  >{{wilaya.Nom_wilaya}}</div>
            </ng-template>
          </p-dropdown>       
           <br>

   <p-dropdown [options]="filterWilayas1()"  [(ngModel)]="selectedcommune1" id="drop" [filter]="true" placeholder="Commune...">
            <ng-template let-commune pTemplate="selectedItem">
              <div>{{selectedcommune1.Nom_Commune}}</div>
            </ng-template>
            <ng-template let-commune pTemplate="item">
              <div>{{commune?.Nom_Commune}} </div>
            </ng-template>
          </p-dropdown>    </div>

          <div style="flex: 1; margin-left: -30px;">
            <br>
            <!-- Icône Calendrier -->
            <form [formGroup]="formGroup">
                <p-calendar formControlName="date" placeholder="Calendrier">
                    <i class="pi pi-calendar custom-blue-icon"></i>
                </p-calendar>
            </form>
        
            <!-- Icône Horloge -->
            <form [formGroup]="formGroup">
                <p-calendar formControlName="date" [showTime]="true" [timeOnly]="true" hourFormat="24" placeholder="Horloge">
                    <i class="pi pi-clock custom-blue-icon"></i>
                </p-calendar>
            </form>
        </div>
        
        
        
        
    <div style="display: flex; justify-content: space-between;">
    <div style="flex: 1;  ">
        <br><br>
        <p > Hebdomadaire       </p>
    </div>    
     <div style="flex: 1; ">
        <br><br>
        <input class="classInput" type="checkbox" id="myCheckbox" [(ngModel)]="isChecked" name="myCheckbox">
        <button pButton pRipple icon="pi pi-plus" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-left: 45%;" class="p-button-primary"></button>

   </div>        

  </div>
   



<div *ngFor="let trajet of trajets">
  <p-card [style]="styleOBJ">
   
    
    <div style="display: flex; justify-content: space-between;">

      <ng-container *ngFor="let depart of departs">
        <p class="text-card" *ngIf="depart.id === trajet.id">Départ: {{ depart.Nom_Commune }}, {{ depart.Wilaya }}</p>
      </ng-container>
      <i class="pi pi-arrow-right" style="font-size: 2em; color: rgb(255, 183, 0); margin: 0 10px; font-weight: bold;"></i>

      <ng-container *ngFor="let arrive of arrives">
        <p class="text-card" *ngIf="arrive.id === trajet.id">Arrivé: {{ arrive.Nom_Commune }}, {{ arrive.Wilaya }}</p>
    </ng-container>
      <p class="text-card">Heure De Départ: {{trajet.Heure_depart}}</p>
      <p class="text-card">Date De Départ: {{trajet.Date_depart}}</p>

      <button pButton pRipple icon="pi pi-pencil" data-bs-toggle="modal" (click)="affectTrajetUpdate(trajet)" data-bs-target="#updateModal" class="p-button-warning"></button>
      <button style="margin-right: 10px;" pButton pRipple icon="pi pi-times" class="p-button-danger"></button>
    </div>
  </p-card>
</div>
<!-- Modal update -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">  

      <form #updateForm="ngForm" (ngSubmit)="updateTrajet(updateForm)">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="updateModalLabel">Modifier Trajet</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      
        <div class="modal-body">
          <!-- Lieu De Depart -->
        <p>Lieu De Depart:</p>


        <p-dropdown [options]="wilayas"  name="wilaya" [(ngModel)]="selectedwilaya2" id="drop" [filter]="true" placeholder=" Wilaya...">
            <ng-template  let-wilaya pTemplate="selectedItem">
              <div  >{{selectedwilaya2?.Nom_wilaya}} </div>
            </ng-template>
            <ng-template  let-wilaya pTemplate="item">
              <div  >{{wilaya.Nom_wilaya}}</div>
            </ng-template>
          </p-dropdown>
        
        <br>

        <p-dropdown [options]="filterWilayas2()"  name="commune"  [(ngModel)]="selectedcommune2" id="drop" [filter]="true" placeholder="Commune...">
            <ng-template let-commune pTemplate="selectedItem">
              <div>{{selectedcommune2?.Nom_Commune}}</div>
            </ng-template>
            <ng-template let-commune pTemplate="item">
              <div>{{commune?.Nom_Commune}} </div>
            </ng-template>
          </p-dropdown>

          <p>Lieu D'arrivé:</p>
          <p-dropdown [options]="wilayas"  name="wilayaArr"  [(ngModel)]="selectedwilaya3" id="drop" [filter]="true" placeholder="Wilaya...">
              <ng-template  let-wilaya pTemplate="selectedItem">
                <div  >{{selectedwilaya3?.Nom_wilaya}} </div>
              </ng-template>
              <ng-template  let-wilaya pTemplate="item">
                <div  >{{wilaya.Nom_wilaya}}</div>
              </ng-template>
            </p-dropdown>       
             <br>
  
     <p-dropdown [options]="filterWilayas3()"   name="communeArr"[(ngModel)]="selectedcommune3" id="drop" [filter]="true" placeholder="Commune...">
              <ng-template let-commune pTemplate="selectedItem">
                <div>{{selectedcommune3?.Nom_Commune}}</div>
              </ng-template>
              <ng-template let-commune pTemplate="item">
                <div>{{commune?.Nom_Commune}} </div>
              </ng-template>
            </p-dropdown> 
      
          <!-- Nombre de places -->
          <input type="number"   value="{{trajetUpdate?.nbr_place}}"style="margin-bottom: 5%; margin-right: 1%; flex-shrink: 0; border-radius: 9px; border: 0.5px solid #8A8A8A; background: var(--WHITE, #FFF); box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); height: 25%; width: 80%;" ngModel="" name="nbr_place" class="form-control" placeholder="nombre de places max">
      
          <div style="flex: 1;">
            <!-- Date De Depart -->
            <p>Date De Depart</p>
              <p-calendar  [(ngModel)]="dateDepart" name="date"></p-calendar>
   
            <!-- Heure De Depart -->
            <p>Heure De Depart</p>
            <p-calendar [(ngModel)]="heureDepart" name="heure" [showTime]="true" [timeOnly]="true" hourFormat="24"></p-calendar>
          </div>
      
          <p>Hebdomadaire</p>
          <input type="checkbox" id="myCheckbox2" [(ngModel)]="isChecked" name="myCheckbox">
        </div>
      
        <div class="modal-footer">
          <button type="button" id="annuler" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary">Modifier</button>
        </div>
      </form>
      
    </div> 
  </div>
</div>