
<div style="padding: 30px; margin: 100px;" class="container">
  <div style="margin-right : 40px" class="left-space">
    <div style="box-shadow: 5px 5px 10px #888888;margin-top: 5px;" class="rectangle">
      <div class="bande bleu-nuit"></div>
      <div class="bande orange"></div>
      <div class="bande blanc"></div>
      <div class="bande bleu-ciel"></div>
    </div>

    <div class="voitures">
      <img style="margin-right:5px;box-shadow: 5px 5px 5px #888888;margin-left:15px" src="assets/Blanche.png"  alt="Voiture" class="voiture bleu-nuit">
      <img style="box-shadow: 5px 5px 5px #888888;"src="assets/Blanche.png"  alt="Voiture" class="voiture orange">
      <img style="box-shadow: 5px 5px 5px #888888;"src="assets/voiture.png"  alt="Voiture" class="voiture blanc">
      <img style="margin-right:15px;box-shadow: 5px 5px 5px #888888;" src="assets/Blanche.png"  alt="Voiture" class="voiture bleu-ciel">
    </div>
  </div>

  <div  style="margin-right: 5px;min-height: 180;" class="content">
    <div style="min-height: 120px; min-width: 120px;" class="texte-cadre">
      <p><strong>Wesselni</strong><br> <strong style="font-size: 18px;">Meilleur Application de Covoiturage</strong></p>
      <p style="font-size: 13px;"><strong>Découvrez des moyens plus rapides pour vos déplacements tout en économisant le coût du transport.</strong> </p> 
      <br>
       <p style="font-size: 12px;">Facile <br>
          Rapide <br>
         Economique <br>
          Efficace <br></p>
    </div>
  </div>

  <div class="right-space"></div>
</div>