
<app-sidebar></app-sidebar>
<div class="search-bar">
  <div class="profile-buttons">
      <div class="profile-button" (click)="goToProfile()">
          <button class="round-button">
              <i class="pi pi-user cursor-pointer"></i>
          </button>
      </div>

      <div class="logout-button" (click)="logout()">
          <button class="round-button">
              <i class="pi pi-sign-out cursor-pointer"></i>
          </button>
      </div>
  </div>
</div>

<div style="display: flex; justify-content: space-between;">

    <div style="flex: 1; margin-left: 22%;">
        <p>Depart:</p>


        <p-dropdown [options]="wilayas"  [(ngModel)]="selectedwilaya" id="drop" [filter]="true" placeholder=" Wilaya...">
            <ng-template  let-wilaya pTemplate="selectedItem">
              <div>{{selectedwilaya.Nom_wilaya}}</div>
            </ng-template>
            <ng-template  let-wilaya pTemplate="item">
              <div  >{{wilaya.Nom_wilaya}}</div>
            </ng-template>
          </p-dropdown>
        
        <br>

        <p-dropdown [options]="filterWilayas()"  [(ngModel)]="selectedcommune" id="drop" [filter]="true" placeholder="Commune...">
            <ng-template let-commune pTemplate="selectedItem">
              <div>{{selectedcommune.Nom_Commune}}</div>
            </ng-template>
            <ng-template let-commune pTemplate="item">
              <div>{{commune?.Nom_Commune}} </div>
            </ng-template>
          </p-dropdown>

    </div>

    <div style="flex: 1; margin-left: -30px; ">
        <p>Arrivé:</p>
        <p-dropdown [options]="wilayas"  [(ngModel)]="selectedwilaya1" id="drop" [filter]="true" placeholder="Wilaya...">
            <ng-template  let-wilaya pTemplate="selectedItem">
              <div  >{{selectedwilaya1.Nom_wilaya}} </div>
            </ng-template>
            <ng-template  let-wilaya pTemplate="item">
              <div  >{{wilaya.Nom_wilaya}}</div>
            </ng-template>
          </p-dropdown>       
           <br>

   <p-dropdown [options]="filterWilayas1()"  [(ngModel)]="selectedcommune1" id="drop" [filter]="true" placeholder="Commune...">
            <ng-template let-commune pTemplate="selectedItem">
              <div>{{selectedcommune1.Nom_Commune}}</div>
            </ng-template>
            <ng-template let-commune pTemplate="item">
              <div>{{commune?.Nom_Commune}} </div>
            </ng-template>
          </p-dropdown>    </div>

         
        
        
        

   
</div>

<div  *ngFor="let trajet of trajets">
  <div *ngIf="trajet.Chauffeur === currentUser?.id">
  <p-card [style]="styleOBJ">
    <p class="name" *ngIf="currentUser && currentUser.nom && currentUser.prenom">
      {{ currentUser.nom }} {{ currentUser.prenom }}
    </p>
    
    <div style="display: flex; justify-content: space-between;">

      <ng-container *ngFor="let depart of departs">
        <p class="text-card" *ngIf="depart.id === trajet.id">Départ: {{ depart.Nom_Commune }}, {{ depart.Wilaya }}</p>
      </ng-container>
      <ng-container *ngFor="let arrive of arrives">
        <p class="text-card" *ngIf="arrive.id === trajet.id">Arrivé: {{ arrive.Nom_Commune }}, {{ arrive.Wilaya }}</p>
    </ng-container>
      <p class="text-card">Heure De Départ: {{trajet.Heure_depart}}</p>
      <p class="text-card">Date De Départ: {{trajet.Date_depart}}</p>

      <button pButton pRipple icon="pi pi-pencil" data-bs-toggle="modal" (click)="affectResUpdate(trajet)" data-bs-target="#updateModal" class="p-button-warning"></button>    
        <button style="margin-right: 10px;" pButton pRipple icon="pi pi-times" (click)="deleteRes(trajet.id)" class="p-button-danger"></button>
    </div>
  </p-card></div>
</div>




