<div  class="header">     
    <nav>
        <div class="logo">
            <img src="assets/voiture.png" alt="Logo">
            <h1 style="color: black; margin-right: 650px;">Wesselni</h1>
            <ul>
           
  <li><a href="#">Learn more</a></li>
  <li><button class="explore-button"  (click)="goToLogin()" >Explore Courses</button></li>
  <li><button class="enroll-button" (click)="goToSingup()">Enroll Now</button></li>
  
  
            </ul>
        </div>
        
    </nav>
  </div>
  <div class="container">
    <div class="left-column">
      <div class="main-content">
        <h1 style="
    font-weight: bold;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;                                                         
    margin-right: 25%;">Unleash Your Creativity with Top <i style="color: #007dfe;">Design</i> <i style="color: #ffa600;">Courses</i></h1>
  
        <p style="margin-left: 15%;margin-right: 2%;">Elevate your design skills to new heights with our curated selection of courses, designed to inspire, educate, and empower your creative journey.</p>
  
        <div class="stats">
  <div class="stat-item">
    <span style="color: #ff9900;" class="stat-number">300+</span>
    <span  class="stat-name">Courses</span>
  </div>
  <div class="stat-item">
    <span style="color: #ff9900;" class="stat-number">50+</span>
    <span class="stat-name">Expert Mentors</span>
  </div>
  <div class="stat-item">
    <span  style="color: #379BD8;" class="stat-number">1000+</span>
    <span class="stat-name">Hours of Content</span>
  </div>
  </div>
  
     </div>
    </div>
    <div class="right-column">
      <img src="assets/img2.jpg" alt="Description de l'image">
    </div>
  </div>